.footerContainer {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #1976d2;
    flex: 1;
    flex-shrink: 0;
}

footer>div {
    display: flex;
    gap: 1rem;
}

footer>div>a>img {
    height: 2rem;
    width: 2rem;
}